.home-navbar {
  background: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.home-logo {
  font-weight: 700;
  color: #222;
}

.home-login-btn {
  background: #0d6efd;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
}

.accordion-button {
  font-size: 18px;
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
body.dark-mode {
    background: #121212;
    color: #ffffff;
}
