.home-navbar {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 15px 35px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    position: sticky;
    top: 0;
    z-index: 100;
}

.home-logo {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.home-login-btn {
    margin-left: auto;
    background: #0f8b4c;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.container h2 {
    color: #005c73;
}

.curso-card {
    background: linear-gradient(180deg, #0488b9, #005770);
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
}

.curso-card img {
    width: 110px;
    margin-bottom: 10px;
}

.curso-card h5 {
    font-size: 18px;
    font-weight: bold;
}

.curso-card:hover {
    transform: translateY(-5px);
}
body.dark-mode {
    background: #121212;
    color: #ffffff;
}
